* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  height: 80px;
  background: #f5f9fe;
}
header .header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__container .logo {
  color: #2a73dd;
  font-weight: bold;
  font-size: 24px;
}
header .header__container nav a {
  text-decoration: none;
  margin: 0 20px;
  color: #1d365e;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
}
.banner .left h2 {
  color: #2a73dd;
}
.banner .left button.infor {
  border-radius: 8px;
  padding: 15px 45px;
  font-size: 16px;
  border: 3px solid #2a73dd;
  color: #2a73dd;
  transition: 0.3s;
}
.banner .left button.infor:hover {
  background: #2a73dd;
  color: white;
}
.banner .left button.shop {
  border-radius: 8px;
  padding: 15px 45px;
  font-size: 16px;
  background: linear-gradient(120deg, #2196f3, #2a73dd);
  color: white;
}

.feature #feature__list .feature__item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}
.feature #feature__list .feature__item img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}/*# sourceMappingURL=main.css.map */