//color
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;

//dark color
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;

$color-blue-4: #2196f3;

//font size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
//border
$bd-1: 2px;
$bd-2: 8px;
// end variable

// start mixin
@mixin button-theme() {
  border-radius: 8px;
  padding: 15px 45px;
  font-size: 16px;
  // border: 1px solid red;
}
@mixin shadow-thene() {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}
// end mixin
//  my scss

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  height: 80px;
  background: $color-white-1;
  .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: $color-blue-2;
      font-weight: bold;
      font-size: 24px;
    }
    nav {
      a {
        text-decoration: none;
        margin: 0 20px;
        color: $color-blue-1;
      }
    }
  }
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  .left {
    h2 {
      color: $color-blue-2;
    }

    button.infor {
      @include button-theme();
      border: 3px solid $color-blue-2;
      color: $color-blue-2;
      transition: 0.3s;

      &:hover {
        background: $color-blue-2;
        color: white;
      }
    }

    button.shop {
      @include button-theme();
      background: linear-gradient(120deg, $color-blue-4, $color-blue-2);
      color: white;
    }
  }
}

.feature {
  #feature__list {
    .feature__item {
      @include shadow-thene();
      img {
        @include shadow-thene();
      }
    }
  }
}
